<div class="wid-container">
  <owl-carousel
    [options]="options"
    [items]="combos"
    [carouselClasses]="['owl-theme', 'row', 'sliding']"
    [items]="combos"
    #owlCar
    [ngClass]="{'with-arrows': nav}"
  >
    <div class="item wid-item" *ngFor="let combo of combos; let i = index" [id]="'slide-'+i">
      <div class="wid-text-viewer">
        <p class="view-mode unstyled wid-text-viewer-wrapper">
          <span class="wid-text-viewer-inner" [innerHTML]="combo"></span>
        </p>
      </div>
    </div>
  </owl-carousel>
</div>


