<div class="wid-container">
  <owl-carousel
  [options]="{items: 1, dots: false, navigation: false, loop:true, autoplay:true, center: true}"
  [items]="combos"
  [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item wid-item" *ngFor="let combo of combos;let i = index">
    <h3 [innerHTML]="combo"></h3>
  </div>
</owl-carousel>
</div>



<H2>
  Combinations in the slide show (to demostrate fetch and randomness)
</H2>

<div class="wid-container">
  <div class="item wid-item" *ngFor="let combo of combos;let i = index" style="width: 50%; border: 1px solid grey;">
    <h3 [innerHTML]="combo"></h3>
  </div>
</div>