/* You can add global styles to this file, and also import other style files */
.wid-container{
  display: flex;
  flex-wrap: wrap;
  .wid-item{

    padding: 30px 10px;

    h3{
      .blank{
        position: relative;
        display: inline-block;
      }
      .super{
        position: absolute;
        font-size: 10px;
        top: -14px;
        display: block;
        text-align: center;
        white-space: nowrap;
        transform: translateX(-25%);
    
      }
    }
  }


}
