/* You can add global styles to this file, and also import other style files */

.wid-container{
  .wid-item{
    text-align: left;
    padding: 30px 10px;

      .blank{
        position: relative;
        display: inline-block;
        font-weight: bold;
      }
      .super{
        width: 100%;
        position: absolute;
        top: -35px;
        display: block;
        text-align: center;
        white-space: nowrap;
        // transform: translateX(-25%);
        color:rgba(0, 0, 0, 1);
        font-family:pvgj;
        font-weight:300;
        font-style:normal;
        font-size: .825rem;
        text-transform: uppercase;
      }
    
  }
  .with-arrows .owl-carousel .owl-stage-outer{
    margin: 0 45px;
  }
  .owl-carousel{
    position: relative;

    .owl-nav{
      .owl-next,.owl-prev{
        display: inline-block;
        zoom: 1;
        margin: 5px;
        padding: 3px 10px;
        font-size: 42px;
        position: absolute;
        transform: translateY(-25%);
        top: 50%;
        &:hover{
          color: rgba(0, 0, 0, .7);
          background: none;
        }
      }
      .owl-next{
        right: 0;
      }
      .owl-prev{
        left: 0;
      }
    }
  } 

}

.wid-text-viewer-wrapper{
  line-height: 80px;
  font-family: Inter;
  font-weight: 400;
  font-size: 42px;
}
.wid-text-viewer-inner{
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
  font-size: 42px;
}

